In [1]:
import pandas as pd

In [5]:
path1 = "Raw Data\SUB-EST2020_ALL.csv"
countrydf = pd.read_csv(path1, encoding='utf-8')
countrydf

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 118162: invalid continuation byte

In [3]:
countrydf1 = pd.DataFrame(countrydf[["NAME", "STNAME", "POPESTIMATE2020"]])
countrydf1

NameError: name 'countrydf' is not defined

In [28]:
countrydf1 = countrydf1[countrydf1['NAME'].str.contains("city")]
countrydf1

                      NAME   STNAME  POPESTIMATE2020
1           Abbeville city  Alabama             2553
2          Adamsville city  Alabama             4211
5           Alabaster city  Alabama            33701
6         Albertville city  Alabama            21777
7      Alexander City city  Alabama            14142
...                    ...      ...              ...
81393     Green River city  Wyoming            11788
81394    Rock Springs city  Wyoming            22943
81403        Evanston city  Wyoming            11570
81409         Worland city  Wyoming             4994
81412       Newcastle city  Wyoming             3314

[27983 rows x 3 columns]

In [29]:
countrydf1 = countrydf1.replace({'Alabama': 'AL', 
                                 'Alaska': 'AK',
                                 'Arizona': 'AZ',
                                 'Arkansas': 'AR',
                                 'California': 'CA',
                                 'Colorado': 'CO',
                                 'Connecticut': 'CT',
                                 'Delaware': 'DE',
                                 'District of Columbia': 'DC',
                                 'Florida': 'FL',
                                 'Georgia': 'GA',
                                 'Hawaii': 'HI',
                                 'Idaho': 'ID',
                                 'Illinois': 'IL',
                                 'Indiana': 'IN',
                                 'Iowa': 'IA',
                                 'Kansas': 'KS',
                                 'Kentucky': 'KY',
                                 'Louisiana': 'LA',
                                 'Maine': 'ME',
                                 'Maryland': 'MD',
                                 'Massachusetts': 'MA',
                                 'Michigan': 'MI',
                                 'Minnesota': 'MN',
                                 'Mississippi': 'MS',
                                 'Missouri': 'MO',
                                 'Montana': 'MT',
                                 'Nebraska': 'NE',
                                 'Nevada': 'NV',
                                 'New Hampshire': 'NH',
                                 'New Jersey': 'NJ',
                                 'New Mexico': 'NM',
                                 'New York': 'NY',
                                 'North Carolina': 'NC',
                                 'North Dakota': 'ND',
                                 'Ohio': 'OH',
                                 'Oklahoma': 'OK',
                                 'Oregon': 'OR',
                                 'Pennsylvania': 'PA',
                                 'Rhode Island': 'RI',
                                 'South Carolina': 'SC',
                                 'South Dakota': 'SD',
                                 'Tennessee': 'TN',
                                 'Texas': 'TX',
                                 'Utah': 'UT',
                                 'Vermont': 'VT',
                                 'Virginia': 'VA',
                                 'Washington': 'WA',
                                 'West Virginia': 'WV',
                                 'Wisconsin': 'WI',
                                 'Wyoming': 'WY'
                                }, regex=True)
countrydf1.head()

                  NAME STNAME  POPESTIMATE2020
1       Abbeville city     AL             2553
2      Adamsville city     AL             4211
5       Alabaster city     AL            33701
6     Albertville city     AL            21777
7  Alexander City city     AL            14142

In [36]:
countrydf1["CityName"] = countrydf1['NAME'].str.replace(' city', '')
countrydf1

,NAME,STNAME,POPESTIMATE2020,CityName,RegionName
1,Abbeville city,AL,2553,Abbeville,"Abbeville , AL"
2,Adamsville city,AL,4211,Adamsville,"Adamsville , AL"
5,Alabaster city,AL,33701,Alabaster,"Alabaster , AL"
6,Albertville city,AL,21777,Albertville,"Albertville , AL"
7,Alexander City city,AL,14142,Alexander City,"Alexander City , AL"
...,...,...,...,...,...
81393,Green River city,WY,11788,Green River,"Green River , WY"
81394,Rock Springs city,WY,22943,Rock Springs,"Rock Springs , WY"
81403,Evanston city,WY,11570,Evanston,"Evanston , WY"
81409,Worland city,WY,4994,Worland,"Worland , WY"
81412,Newcastle city,WY,3314,Newcastle,"Newcastle , WY"

In [37]:
countrydf1['RegionName'] = countrydf1['CityName'].str.cat(countrydf1['STNAME'], sep=', ')
countrydf1

,NAME,STNAME,POPESTIMATE2020,CityName,RegionName
1,Abbeville city,AL,2553,Abbeville,"Abbeville, AL"
2,Adamsville city,AL,4211,Adamsville,"Adamsville, AL"
5,Alabaster city,AL,33701,Alabaster,"Alabaster, AL"
6,Albertville city,AL,21777,Albertville,"Albertville, AL"
7,Alexander City city,AL,14142,Alexander City,"Alexander City, AL"
...,...,...,...,...,...
81393,Green River city,WY,11788,Green River,"Green River, WY"
81394,Rock Springs city,WY,22943,Rock Springs,"Rock Springs, WY"
81403,Evanston city,WY,11570,Evanston,"Evanston, WY"
81409,Worland city,WY,4994,Worland,"Worland, WY"
81412,Newcastle city,WY,3314,Newcastle,"Newcastle, WY"

In [39]:
cleanpopulationdf = pd.DataFrame(countrydf1[["RegionName", "POPESTIMATE2020"]])
cleanpopulationdf

               RegionName  POPESTIMATE2020
1           Abbeville, AL             2553
2          Adamsville, AL             4211
5           Alabaster, AL            33701
6         Albertville, AL            21777
7      Alexander City, AL            14142
...                   ...              ...
81393     Green River, WY            11788
81394    Rock Springs, WY            22943
81403        Evanston, WY            11570
81409         Worland, WY             4994
81412       Newcastle, WY             3314

[27983 rows x 2 columns]

In [42]:
cleanpopulationdf.to_csv('cleanpopulationdf.csv', index=False)